<ion-content>
  <div class="p-3 pt-4">
    <div>
      <div *ngIf="!isSearchBarVisible">
        <ion-chip class="first-chip">
          <ion-label>All</ion-label>
        </ion-chip>

        <ion-chip (click)="toggleSearchBar()" class="last-chip float-right">
          <ion-label>
            <ion-icon name="search"></ion-icon>
          </ion-label>
        </ion-chip>
      </div>
    </div>
    <div class="search-bar" *ngIf="isSearchBarVisible">
      <ion-icon name="close-outline" (click)="toggleSearchBar()"></ion-icon>
      <ion-input type="text" placeholder="Search by name"></ion-input>
      <ion-icon name="search" class="search-icon"></ion-icon>
    </div>
    <div class="title-sec mt-2" routerLink="/home/profile/courses-list">
      <p class="title mb-0"><img src="assets/images/network.png"> Courses</p>
      <p class="ml-auto edit-txt mb-0"><i class="fa fa-sitemap" aria-hidden="true"></i>Browse Courses</p>
    </div>
    <div class="mt-2">
      <div class="row m-0 single-card mb-2">
        <div class="col-3 p-0 text-center">
          <div class="img-sec">
            <img src="assets/images/course.png">
          </div>
        </div>
        <div class="col-9 detail-sec">
          <p class="title mb-0">Course Name</p>
          <p class="sub-title mb-0">Course Author</p>
        </div>
      </div>
      <div class="row m-0 single-card mb-2">
        <div class="col-3 p-0 text-center">
          <div class="img-sec">
            <img src="assets/images/course.png">
          </div>
        </div>
        <div class="col-9 detail-sec">
          <p class="title mb-0">Course Name</p>
          <p class="sub-title mb-0">Course Author</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>