ion-content{
    --background:#FAFAFA;
    .message{
        color: #4B4C5E;
        font-size: 12px;
        padding: 0 32px;
    }
}
.header-md::after {
    background-image: none !important;
}
ion-header{
    background: #FAFAFA;
}

ion-toolbar {
    --background: #FAFAFA;
    ion-title {
        margin-left: -27px;
        font-family: 'Poppins', sans-serif;
		color: #1E2036;
		font-size: 20px;
    }
}