ion-header {
    ion-toolbar {
        --background: var(--form-title-color);
        color: white;
        padding: 23px 15px
    }
    
    .header-sec {
        display: flex;
        align-items: center;
    }
    .profile-sec{
        position: relative;
        padding: 1px;
    }
    .profile-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 14px;
        
        &::before {
            content: "";
            background: white;
            height: 14px;
            width: 14px;
            position: absolute;
            left: 2px;
            top: 35%;
            border-radius: 50%;
            z-index: 11;
            border: 5px solid var(--form-title-color);
        
        }
        &::after {
            content: "";
            border: 2px solid white;
            right: -4px;
            position: absolute;
            left: 10px;
            border-radius: 50%;
            top: 4px;
            bottom: -4px;
        }
        img {
            max-height: 100%;
            min-height: 100%;
            min-width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
    .name {
        font-size: 23px;
        font-family: 'Poppins', sans-serif;
        margin-top: 6px;
    }
    .icon-sec{
        font-size: 31px;
        margin-top: -21px;
        .bell-icon{
            height: 34px;
            width: 35px;
            margin: -3px 16px 0;
        }
    }
}
ion-content {
    --background: #FAFAFA;
    font-family: 'Mulish', sans-serif;
    .main-card {
        background: white;
        box-shadow: 0 0 20px #0000000D;
        border-radius: 10px;
        iframe {
            height: 220px;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
        }
        .content-sec {
            padding: 0px 15px 15px;
            .post-title{
                color:var(--form-title-color);
                font-weight: bold;
                font-size: 20px;
            }
            .date{
                color:#A5A6AF;
                display: flex;
                align-items: center;
                ion-icon{
                    font-size: 22px;
                    margin-right: 5px;
                }
            }
            .content{
                color:#777885;
            }
            .share-btn{
                --background: var(--button-color);
                --box-shadow: none;
                float: right;
            }
            .view-btn{
                --padding-start: 30px;
                --padding-end: 30px;
            }
        }
    }
}
