<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-sec">
      <div class="profile-img">
        <img src="assets/images/profile.png">
      </div>
      <p class="ml-3 mb-0 name">Welcome John!</p>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="p-3">
    <div class="main-card">
      <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
      <div>

      </div>
    </div>
  </div>
</ion-content>