<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="p-3">
    <div class="main-card mb-3">
      <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
      <div class="content-sec">
        <p class="post-title mb-0">Post Title</p>
        <span class="ml-2 date mb-2">
          <ion-icon name="today-outline"></ion-icon>Post Date
        </span>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem ipsum dolor
          sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod lorem ipsum dolor sit amet</p>
        <div>
          <ion-button class="view-btn">
            View
          </ion-button>

          <ion-button class="share-btn">
            <ion-icon slot="start" name="arrow-redo"></ion-icon>
            Share
          </ion-button>
        </div>
      </div>
    </div>
    <div class="main-card mb-3">
      <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
      <div class="content-sec">
        <p class="post-title mb-0">Post Title</p>
        <span class="ml-2 date mb-2">
          <ion-icon name="today-outline"></ion-icon>Post Date
        </span>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem ipsum dolor
          sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod lorem ipsum dolor sit amet</p>
        <div>
          <ion-button class="view-btn">
            View
          </ion-button>

          <ion-button class="share-btn">
            <ion-icon slot="start" name="arrow-redo"></ion-icon>
            Share
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>