<ion-header class="d-flex">
  <ion-icon name="close-outline" class="close-icon"></ion-icon>
  <ion-toolbar class="text-center">
    <ion-title>Reset Successful!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-section">
    <img src="assets/images/reset-success.png" class="forgot-img">
    <div class="message-txt text-center">
      <p class="mb-0 ">Your password has been reset successfully!</p>
    </div>
  </div>

</ion-content>
<ion-footer>
  <div class="bottom-sec" routerLink="/registration/login">
    <div class="buttons">
      <ion-button expand="block">Login</ion-button>
    </div>
  </div>
</ion-footer>