<ion-content>
  <div class="detail-section p-3">
    <div class="single-card mb-3">
      <ion-icon name="ellipsis-vertical" class="more-icon"></ion-icon>
      <p class="title mb-2">
        <ion-icon name="today-outline"></ion-icon>Rise To The Top
      </p>
      <p class="mb-0 sub-title">Course Category </p>
      <p class="mb-1 sub-title1">Course Owner</p>
      <div class="image-sec mt-2">
        <img src="assets/images/course-detail.png">
      </div>
      <div class="buttons mt-3" routerLink="/home/profile/courses-detail">
        <ion-button expand="block">Course Details</ion-button>
      </div>
    </div>

    <div class="single-card mb-3">
      <ion-icon name="ellipsis-vertical" class="more-icon"></ion-icon>
      <p class="title mb-2">
        <img src="assets/images/edit-icon.png">Rise To The Top
      </p>
      <p class="mb-0 sub-title">Course Category </p>
      <p class="mb-1 sub-title1">Course Owner</p>
      <div class="image-sec mt-2">
        <img src="assets/images/course-detail.png">
      </div>
      <div class="buttons mt-3" routerLink="/home/profile/courses-detail">
        <ion-button expand="block">Course Details</ion-button>
      </div>
    </div>
  </div>
</ion-content>