<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">
    <p class="title mb-2">New</p>
    <div class="single-card mb-3">
      <div class="row m-0">
        <div class="col-2">
          <div>
            <img src="assets/images/Streak.png">
          </div>
        </div>
        <div class="col-10">
          <p class="title">Notification #1</p>
          <p class="dots"></p>
          <p class="mb-0 sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem</p>
          <p class="day">2h</p>
        </div>
      </div>
    </div>

    <div class="single-card mb-3">
      <div class="row m-0">
        <div class="col-2">
          <div>
            <img src="assets/images/star-img.png">
          </div>
        </div>
        <div class="col-10">
          <p class="title">Notification #2</p>
          <p class="dots"></p>
          <p class="mb-0 sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem</p>
          <p class="day">10h</p>
        </div>
      </div>
    </div>

    <p class="title mb-2">Earlier</p>
    <div class="single-card earlier-card mb-2">
      <div class="row m-0">
        <div class="col-2">
          <div>
            <img src="assets/images/fier.png">
          </div>
        </div>
        <div class="col-10">
          <p class="title">Notification</p>
          <p class="mb-0 sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem</p>
          <p class="day">3d</p>
        </div>
      </div>
    </div>

    <div class="single-card earlier-card mb-2">
      <div class="row m-0">
        <div class="col-2">
          <div>
            <img src="assets/images/stars.png">
          </div>
        </div>
        <div class="col-10">
          <p class="title">Notification</p>
          <p class="mb-0 sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem</p>
          <p class="day">4d</p>
        </div>
      </div>
    </div>

    <div class="single-card earlier-card mb-2">
      <div class="row m-0">
        <div class="col-2">
          <div>
            <img src="assets/images/smile.png">
          </div>
        </div>
        <div class="col-10">
          <p class="title">Notification</p>
          <p class="mb-0 sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem</p>
          <p class="day">5d</p>
        </div>
      </div>
    </div>

  </div>

  <div style="display: none;">
    <div class="no-data">
      <img src="assets/images/bell.png">
    </div>
    <div class="text-center"><span class="shadow"></span></div>
    <p class="no-data-txt text-center">No notifications yet!</p>
  </div>
</ion-content>