<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="form-section">
    <form [formGroup]="passwordForm">
      <div>
        <ion-item [ngStyle]="{'border-bottom':submitted &&f.oldPasswrod.errors?'3px solid var(--error-color)':''}">
          <ion-label position="floating">Old Password</ion-label>
          <ion-input [type]="oldPasswordType" formControlName="oldPasswrod" requried></ion-input>
          <ion-icon [name]="oldPasswordIcon" (click)="showHideOldPsw()"></ion-icon>
        </ion-item>
        <div *ngIf="submitted && f.oldPasswrod.errors" class="invalid-feedback">
          <div *ngIf="f.oldPasswrod.errors.required">Required field.</div>
        </div>
      </div>
      <div>
        <ion-item [ngStyle]="{'border-bottom':submitted &&f.newPassword.errors?'3px solid var(--error-color)':''}">
          <ion-label position="floating">New password</ion-label>
          <ion-input [type]="passwordType" formControlName="newPassword" requried></ion-input>
          <ion-icon [name]="passwordIcon" (click)="showHide()"></ion-icon>
        </ion-item>
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">Required field.</div>
        </div>
      </div>
      <div>
        <ion-item [ngStyle]="styleObject()">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input [type]="cPasswordType" formControlName="cPassword" requried></ion-input>
          <ion-icon [name]="cPasswordIcon" (click)="cShowHide()"></ion-icon>
        </ion-item>
        <div *ngIf="submitted && f.cPassword.errors" class="invalid-feedback">
          <div *ngIf="f.cPassword.errors.required">Required field.</div>
        </div>
        <span id="message" class="invalid-feedback"></span>
      </div>
    
    </form>
  </div>

  <!-- success password modal  -->
  <div class="modal_content_with_overlay" (click)="closeModal()" [ngStyle]="{'display': isOpen?'block':'none'}">
    <div class="modal_body">
      <div class="modal_content">
        <ion-icon name="close-outline" class="close-icon" (click)="closeModal()"></ion-icon>
        <img src="assets/images/right.png" class="succes-img">
        <p class="msg-txt">Your password has been saved successfully</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="bottom-sec">
    <div class="buttons" (click)="next(passwordForm.value)">
      <ion-button expand="block">Save</ion-button>
    </div>
  </div>
</ion-footer>