<ion-header [translucent]="true">
  <app-header cname="COURSES"></app-header>
</ion-header>
<ion-content>
  <div>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="featured">
        <p class="mb-0">Featured</p>
      </ion-tab-button>

      <ion-tab-button tab="most-popular">
        <p class="mb-0" style="margin-top: 2px;">Most Popular</p>
      </ion-tab-button>

      <ion-tab-button tab="newest">
        <p class="mb-0 mt-0">Newest</p>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <div class="icon-sec">
    <ion-icon name="funnel-outline"></ion-icon>
    <ion-icon name="search"></ion-icon>
  </div>
</div>
</ion-content>
