ion-header{
    background: var(--form-title-color);
}
ion-content{
    // --background: #FAFAFA;
    font-family: 'Mulish', sans-serif;

    ion-tabs{
        font-family: 'Mulish', sans-serif;
        ion-tab-bar{
            width: 80%;
            border-bottom: 1px solid #dee2e6;
        }
        ion-tab-button{
            color: #D2D2D6;
            font-weight: bold;
            font-size: 16px;
            p{
                margin-top: 0;
            }
        }
        .tab-selected{
            color: var(--form-title-color);
            // border-bottom: 2px solid;
            p{
                &::after{
                    content: "";
                    position: absolute;
                    background-color: var(--form-title-color);
                    height: 3px;
                    right: 0;
                    left: 0;
                    bottom: 0;
                }
            }
            
        }
    }
    .icon-sec{
        position: absolute;
        right: 0;
        padding: 17px 7px;
        padding-bottom: 10px;
        width: 21%;
        box-shadow: 2px 0px 3px #dee2e6;
        @media only screen and (max-width:359px) {
            padding-bottom: 7px;
        }
        ion-icon{
            color: #D2D2D6;
            font-size: 24px;
            margin: 0 3px;
            @media only screen and (max-width:359px) {
                font-size: 21px;
                margin: 0 1px;
            }
        }
    }
}