<ion-content [fullscreen]="true">
  <div class="header-sec">
    <div class="icon-sec">
      <span><img src="assets/images/bell.svg" class="bell-icon"></span>
      <span (click)="presentPopover()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </span>
    </div>
    <div class="text-center profile-sec">
      <div class="profile-img mt-2">
        <img src="assets/images/profile.png">
      </div>
      <p class="mb-0 name">John Alexandre</p>
      <p class="position-title">Marketing Director</p>
      <div class="button-section">
        <div class="buttons" (click)="openModal()" *ngIf="isDisplay">
          <ion-button>Connect</ion-button>
        </div>
        <div class="buttons" *ngIf="!isDisplay">
          <ion-button>Disconnect</ion-button>
        </div>
        <div class="insta-icon mx-1">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-select value="notifications" interface="action-sheet"  class="ios">
            <ion-select-option value="instagram">Instagram: ig username</ion-select-option>
            <ion-select-option value="facebook">Facebook: fb username</ion-select-option>
            <ion-select-option value="youtube">YouTube: YouTube username</ion-select-option>
            <ion-select-option value="email">Email :email address</ion-select-option>
          </ion-select>
        </div>
        <div class="insta-icon mx-1" routerLink="/home/profile/courses-list">
          <img src="assets/images/book.png " class="reader-icon">
        </div>
        <div class="insta-icon mx-1" *ngIf="isDisplay">
          <img src="assets/images/globe1.png" class="reader-icon">
        </div>
      </div>
    </div>
  </div>

  <div class="p-3 pt-4 detail-section">
    <div>
      <div class="title-sec">
        <p class="title">About Me</p>
      </div>
      <div class="title-sec px-3" style="align-items: unset;">
        <ion-icon name="person" class="mr-2"></ion-icon><span>Bio</span>
      </div>
      <p class=" content-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur…</p>
    </div>

    <div>
      <div class="title-sec">
        <p class="title">Basic Info</p>
      </div>
      <div>
        <div class="title-sec px-3">
          <img src='assets/images/gender.png' class="mr-2 intrest-icon">
          <span>Gender</span>
        </div>
        <p class=" content-txt work">Male</p>
      </div>
      <div>
        <div class="title-sec px-3" style="align-items: unset;">
          <img src="assets/images/relationship.png" class="mr-2 intrest-icon">
          <span>Relationship Status</span>
        </div>
        <p class=" content-txt work">Married</p>
      </div>
      <div>
        <div class="title-sec px-3" style="align-items: unset;">
          <i class="fa fa-birthday-cake mr-2" aria-hidden="true"></i>
          <span>Date of Birth</span>
        </div>
        <p class=" content-txt work">01/01/1980</p>
      </div>
    </div>


    <div>
      <div class="title-sec">
        <p class="title">Work</p>
      </div>
      <div>
        <div class="title-sec px-3" style="align-items: unset;">
          <i class="fa fa-building mr-2" aria-hidden="true"></i>
          <span>Profession</span>
        </div>
        <p class=" content-txt work">Business Owner</p>
      </div>
      <div>
        <div class="title-sec px-3" style="align-items: unset;">
          <ion-icon name="person" class="mr-2"></ion-icon>
          <span>Title</span>
        </div>
        <p class=" content-txt work">Marketing Director</p>
      </div>
    </div>

    <div>
      <div class="title-sec">
        <p class="title">Interests</p>
      </div>
      <div class="title-sec px-3">
        <img src="assets/images/profession.png" class="mr-2 intrest-icon">
        <span>In my spare time I like to…</span>
      </div>
      <p class=" content-txt work"> Listen to audiobooks,Attend live events,Read,Watch Television </p>
    </div>

  </div>
  <!-- confirmation modal  -->
  <div class="modal_content_with_overlay" (click)="closeModal()" [ngStyle]="{'display': isOpen?'block':'none'}">
    <div class="modal_body">
      <div class="modal_content">
        <ion-icon name="close-outline" class="close-icon" (click)="closeModal()"></ion-icon>
        <p class="msg-txt">Please confirm you would like to add John Alexandre</p>
        <div class="modal-button">
          <ion-button fill="outline" class="cancle-butn">Cancel</ion-button>
          <ion-button fill="outline" class="confirm-btn" (click)="changeButton()">Confirm</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>