<ion-content>
  <div style="display: none;">
    <div class="no-data">
      <img src="assets/images/no-profile.png">
    </div>
    <p class="no-data-txt text-center">Empty</p>
  </div>
  <div class="p-3 pt-4 detail-section">
    <div>
    <div class="title-sec">
      <p class="title">About Me</p>
      <p class="ml-auto edit-txt">Edit</p>
    </div>
    <div class="title-sec px-3" style="align-items: unset;">
      <ion-icon name="person" class="mr-2"></ion-icon><span>Bio</span>
    </div>
    <p class=" content-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur…</p>
  </div>

  <div>
    <div class="title-sec">
      <p class="title">Work</p>
      <p class="ml-auto edit-txt">Edit</p>
    </div>
    <div class="title-sec px-3" style="align-items: unset;">
      <i class="fa fa-building mr-2" aria-hidden="true"></i>
      <span>Profession</span>
    </div>
    <p class=" content-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur…</p>
  </div>
  
  </div>
</ion-content>