<ion-header class="d-flex">
  <ion-back-button style="margin-top:4px">
  </ion-back-button>
  <ion-toolbar class="text-center">
    <ion-title>Creating A Legacy </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="text-center page-num mb-0">8 of 8</p>
  <div class="form-section">

    <form [formGroup]="lagecyForm">

      <p class="page-num sub-title">I Would Like To Contribute Or Help With</p>
      <div class="px-3 mb-3">
          <div class="d-flex select-box mb-2"  *ngFor="let value of list">
            <div>
              <ion-checkbox slot="start" (ionChange)="selectHelpValue($event)" [value]="value">
              </ion-checkbox>
            </div>
            <div class="label-sec">
              <ion-label>{{value}}</ion-label>
            </div>
          </div>
      </div>

      <p class="page-num sub-title">Time & Location Commitment</p>
      <div class="px-3 mb-3">
        <div  *ngFor="let value of list2">
          <div class="d-flex select-box mb-2">
            <div>
              <ion-checkbox slot="start" (ionChange)="selectTimeValue($event)" [value]="value">
              </ion-checkbox>
            </div>
            <div class="label-sec">
              <ion-label>{{value}}</ion-label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <div class="buttons" (click)="next(lagecyForm.value)">
    <ion-button expand="block">Next</ion-button>
  </div>
</ion-footer>