<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Edit About Me</ion-title>
    <soan slot="end" class="svae-btn" (click)="save()">Save</soan>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="edit-form">
    <div class="p-3 pt-4 detail-section">
      <div>
        <div class="title-sec px-3" style="align-items: unset;">
          <ion-icon name="person" class="mr-2"></ion-icon><span>Bio</span>
        </div>
        <ion-textarea class=" content-txt" type="text" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur…" rows="10"></ion-textarea>
        <!-- <p class=" content-txt"></p> -->
      </div>
    </div>
  </div>

</ion-content>