<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Edit Contact Card</ion-title>
    <span slot="end" class="svae-btn" (click)="save()">Save</span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="edit-form">
    <div class="p-3 pt-4 detail-section">
      <div class="mb-3">
        <div class="title-sec">
          <span>Facebook URL</span>
        </div>
        <ion-input class="content-txt" type="text" value="Https://facebook.com/username"></ion-input>
      </div>

      <div class="mb-3">
        <div class="title-sec">
          <span>Instagram URL</span>
        </div>
        <ion-input class="content-txt" type="text" value="Https://instagram.com/username"></ion-input>
      </div>

      <div class="mb-3">
        <div class="title-sec">
          <span>Twitter URL</span>
        </div>
        <ion-input class="content-txt" type="text" value="Https://twitter.com/username"></ion-input>
      </div>

      <div class="mb-3">
        <div class="title-sec">
          <span>Website URL</span>
        </div>
        <ion-input class="content-txt" type="text" value="Https://www.thebestyou.co"></ion-input>
      </div>

      <div class="mb-3">
        <div class="title-sec">
          <span>YouTube URL</span>
        </div>
        <ion-input class="content-txt" type="text" value="Https://www.youtube.com/username"></ion-input>
      </div>
    </div>
  </div>
</ion-content>