ion-content{
    --background:#FAFAFA;
}
.header-md::after {
    background-image: none !important;
}
ion-header{
    background-color: #FAFAFA;
}

ion-toolbar {
    --background:#FAFAFA;
    ion-title {
        margin-left: -27px;
        font-family: 'Poppins', sans-serif;
		color: #1E2036;
		font-size: 20px;
    }
}

.page-num{
    color: #1E2036;
}

.about-sec{
    p{
        color: #A5A6AF;
        font-size: 15px;
        margin-bottom: 0;
    }
    span{
        color: #1E2036;
    }
}