<ion-header class="d-flex">
  <ion-back-button style="margin-top:4px">
  </ion-back-button>
  <ion-toolbar class="text-center">
    <ion-title>Complete Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="text-center page-num mb-0">2 of 8</p>

  <div class="form-section">
    <div class="about-sec mb-4">
      <p>About Me</p>
      <span>About me…………….</span>
    </div>
    <form [formGroup]="urlForm">
      <div>
        <ion-item >
          <ion-label position="floating">Facebook URL</ion-label>
          <ion-input type="text" formControlName="facebookUrl" ></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item >
          <ion-label position="floating">Instagram URL</ion-label>
          <ion-input type="text" formControlName="instaUrl"></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item >
          <ion-label position="floating">Twitter URL</ion-label>
          <ion-input type="text" formControlName="twitterUrl"></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item >
          <ion-label position="floating">Website URL</ion-label>
          <ion-input type="text" formControlName="wesiteUrl"></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item >
          <ion-label position="floating">YouTube URL</ion-label>
          <ion-input type="text" formControlName="youTubeUrl"></ion-input>
        </ion-item>
      </div>

      <div class="bottom-sec">
        <div class="buttons" (click)="next(urlForm.value)">
          <ion-button expand="block">Next</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>