<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Edit Basic Info</ion-title>
    <span slot="end" class="svae-btn" (click)="save()">Save</span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="edit-form">
    <div class="p-3 pt-4 detail-section">
      <div class="mb-3">
        <div class="title-sec px-3" >
          <img src='assets/images/gender.png' class="mr-2 intrest-icon" style="height: 16px;margin-top: -1px;">
          <span class="ml-2">Gender</span>
        </div>
        <ion-input class=" content-txt" type="text" value="Male"></ion-input>
      </div>
      <div class="mb-3">
        <div class="title-sec px-3" >
          <img src="assets/images/relationship.png" class="mr-2 intrest-icon">
          <span class="ml-2">Relationship Status</span>
        </div>
        <ion-input class=" content-txt" type="text" value="Married"></ion-input>
      </div>
      <div class="mb-3">
        <div class="title-sec px-3" >
          <i class="fa fa-birthday-cake" aria-hidden="true"></i>
          <span class="ml-2">Date of Birth</span>
        </div>
        <ion-datetime value="01/01/1980" class=" content-txt" displayFormat="DD/MM/YYYY"></ion-datetime>

      </div>
    </div>
  </div>
</ion-content>