<ion-header [translucent]="true">
  <app-header cname="EVENTS"></app-header>
</ion-header>
<ion-content>
  <div>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="featured">
        <p class="mb-0">Featured</p>
      </ion-tab-button>

      <ion-tab-button tab="going">
        <p class="mb-0" style="margin-top: 2px;">I’m Going</p>
      </ion-tab-button>

      <ion-tab-button tab="intrested">
        <p class="mb-0">I’m Interested</p>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <div class="icon-sec">
    <ion-icon name="funnel-outline"></ion-icon>
    <ion-icon name="search"></ion-icon>
  </div>
</div>
</ion-content>
