<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)" class="has-header">
  <div class="header-sec1"   *ngIf="isVisible">
    <div class="profile-sec">
      <div class="profile-img mt-2">
        <img src="assets/images/profile.png">
      </div>
    </div>
    <div>
      <p class="ml-3 mb-0 name">John Alexandre</p>
      <p class=" ml-3 mb-0 position-title">Marketing Director</p>
    </div>
    <div class="ml-auto icon-sec">
      <span style="position: relative;" routerLink="/home/notification"><img src="assets/images/bell.svg" class="bell-icon"><span class="notification-indicator"></span></span>
      <span (click)="presentPopover()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </span>
    </div>
  </div>
  <div class="header-sec" *ngIf="!isVisible">
    <div class="icon-sec">
      <span style="position: relative;" routerLink="/home/notification"><img src="assets/images/bell.svg" class="bell-icon"><span class="notification-indicator"></span></span>
      <span (click)="presentPopover()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </span>
    </div>
    <div class="text-center profile-sec">
      <div class="profile-img mt-2">
        <img src="assets/images/profile.png">
      </div>
      <p class="mb-0 name">John Alexandre</p>
      <p class="position-title">Marketing Director</p>
    </div>
  </div>
  <ion-tabs [ngStyle]="{'margin-top':isVisible?'132px':'180px','position':isVisible?'fixed':''}">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="profile-detail">
        <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
        <i class="fa fa-user-circle-o user-profile" aria-hidden="true"></i>
        <p class="mb-0">Profile</p>
      </ion-tab-button>

      <ion-tab-button tab="network">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 50 60" class="network">
          <path id="Icon_material-contacts" data-name="Icon material-contacts"
            d="M48,0H8V5H48ZM8,60H48V55H8ZM48,10H8a5.015,5.015,0,0,0-5,5V45a5.015,5.015,0,0,0,5,5H48a5.015,5.015,0,0,0,5-5V15A5.015,5.015,0,0,0,48,10ZM28,16.875A5.625,5.625,0,1,1,22.375,22.5,5.633,5.633,0,0,1,28,16.875ZM40.5,42.5h-25V38.75c0-4.175,8.325-6.25,12.5-6.25s12.5,2.075,12.5,6.25Z"
            transform="translate(-3)" fill="#00e8b2" />
        </svg>
        <p class="mb-0" style="margin-top: 2px;">Network</p>
      </ion-tab-button>

      <ion-tab-button tab="courses">
        <i class="fa fa-graduation-cap courses" aria-hidden="true"></i>
        <p class="mb-0 mt-0">Courses</p>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="60" viewBox="0 0 80 60" class="contact">
          <path id="Icon_metro-profile" data-name="Icon metro-profile"
            d="M78.784,16.284H73.19V7.889L61.642,7.712l.06,8.571H27l.237-8.571-11.309.177v8.571l-5.714-.177A5.716,5.716,0,0,0,4.5,22V62a5.716,5.716,0,0,0,5.714,5.714H78.784A5.716,5.716,0,0,0,84.5,62V22A5.716,5.716,0,0,0,78.784,16.284ZM64.5,10.569h5.714V22H64.5ZM27.356,30.032c3.451,0,6.251,3.677,6.251,8.214s-2.8,8.214-6.251,8.214S21.1,42.784,21.1,38.246s2.8-8.214,6.251-8.214ZM18.784,10.569H24.5V22H18.784ZM14.976,56.135s.677-5.434,2.217-6.46,5.971-1.709,5.971-1.709,2.874,3.071,4.1,3.071,4.094-3.071,4.094-3.071,4.434.68,5.974,1.709c1.809,1.206,2.26,6.46,2.26,6.46H14.976ZM73.07,53.426H47.356V50.569H73.07Zm0-5.714H47.356V44.855H73.07Zm0-5.714H47.356V39.141H73.07Zm0-5.714H47.356V33.426H73.07Z"
            transform="translate(-4.499 -7.712)" fill="#696969" />
        </svg>
        <p class="mb-0">Contact</p>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>