.header-md::after {
    background-image: none !important;
}

ion-toolbar {
    ion-title {
        margin-left: -27px;
        font-family: 'Poppins', sans-serif;
		color: #1E2036;
		font-size: 20px;
    }
}
ion-content{
    font-family: 'Mulish', sans-serif;
    .links{
        font-size: 17px;
    }
    .top-sec{
        img{
            width: 68px;
            height: 95px;
        }
        p{
            color: #777885;
            padding: 20px 35px;
            margin-top: 0;
            
        }
    }
 
    .code-box{    
        width: auto ;
        display: table;
        margin: auto;
    }
 
    .message-txt{
        color: var(--error-color);
        font-size: 12px;
    }
}