ion-content{
    font-family: 'Mulish', sans-serif;
    .links{
        font-size: 17px;
    }
    .top-sec{
        img{
            width: 68px;
            height: 95px;
        }
        p{
            color: #777885;
            padding: 20px 35px;
            
        }
    }
    
    .code-box{    
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .input-box {
        height: 60px;
        width: 60px;
        display: inline-block;
        margin: 0 10px;
        @media only screen and (max-width: 358px) {
            width:50px;
            height:50px;
        }
    }
    .input-box ion-input {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        border: 1px solid var(--input-border-color);
        --padding-start:23px;
        --padding-top:12px;
        color: var(--form-title-color);
        font-weight: bold;
        font-size: 24px;
        
    }
    .message-txt{
        color: var(--error-color);
        font-size: 12px;
        margin-left: 10px;
        
    }
}