<ion-header class="d-flex">
  <ion-back-button style="margin-top:4px">
  </ion-back-button>
  <ion-toolbar class="text-center">
    <ion-title>{{details == 'sign-up'?'Create Password':'Reset password'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="form-section">
    <!-- <p class="title text-center">Create Password</p> -->


    <form [formGroup]="passwordForm">
      <div>
        <ion-item [ngStyle]="{'border-bottom':submitted &&f.password.errors?'3px solid var(--error-color)':''}">
          <ion-label position="floating">{{details == 'sign-up'?'Password':'New Password'}}</ion-label>
          <ion-input [type]="passwordType" formControlName="password" requried></ion-input>
          <ion-icon [name]="passwordIcon" (click)="showHide()"></ion-icon>
        </ion-item>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Required field.</div>
        </div>
      </div>
      <div>
        <ion-item [ngStyle]="styleObject()">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input [type]="cPasswordType" formControlName="cPassword" requried></ion-input>
          <ion-icon [name]="cPasswordIcon" (click)="cShowHide()"></ion-icon>
        </ion-item>
        <div *ngIf="submitted && f.cPassword.errors" class="invalid-feedback">
          <div *ngIf="f.cPassword.errors.required">Required field.</div>
        </div>
        <span id="message" class="invalid-feedback"></span>
      </div>
      <div class="bottom-sec">
        <div class="buttons" (click)="next(passwordForm.value)">
          <ion-button expand="block">{{details == 'sign-up'?'Next':'Reset Password'}}</ion-button>
        </div>
       
        <p class="text-center mb-0 links mt-2">Already have an account? <span style="font-weight: 600;outline: none;" routerLink="/registration/login"> Log In</span>
        </p>
      </div>
    </form>
  </div>
</ion-content>