ion-toolbar {
    --background: var(--form-title-color);
    color: white;
    padding: 23px 15px !important;
}

.header-sec {
    display: flex;
    align-items: center;
}
.profile-sec{
    position: relative;
    padding: 1px;
}
.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 14px;
    
    &::before {
        content: "";
        background: white;
        height: 14px;
        width: 14px;
        position: absolute;
        left: 2px;
        top: 35%;
        border-radius: 50%;
        z-index: 11;
        border: 5px solid var(--form-title-color);
        
    }
    &::after {
        content: "";
        border: 2px solid white;
        right: -4px;
        position: absolute;
        left: 10px;
        border-radius: 50%;
        top: 4px;
        bottom: -4px;
    }
    img {
        max-height: 100%;
        min-height: 100%;
        min-width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}
.name {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    margin-top: 6px;
    @media only screen and (max-width: 360px) {
        font-size: 20px;
    }
        @media only screen and (max-width: 359px) {
        font-size: 19px;
    }
}
.icon-sec{
    font-size: 31px;
    margin-top: -10px;
    .bell-icon{
        height: 34px;
        width: 35px;
        margin: -11px 16px 0;
    }
    @media only screen and (max-width: 360px) {
        font-size: 26px;
        .bell-icon{
            height: 27px;
            margin: -11px 4px 0;
        }
    }
    @media only screen and (max-width: 359px) {
        font-size: 23px;
        .bell-icon{
            margin: -11px 2px 0;
        }
    }
}
