<ion-content>
  <div class="p-3 pt-4">
    <div class="title-sec">
      <p class="title">Contact Card</p>
      <p class="ml-auto edit-txt" routerLink="/home/profile/edit-contact">Edit</p>
    </div>
    <div class="mt-1">
      <div class="single-card mb-2">
        <div class="row m-0">
          <div class="col-2 text-center p-0 m-auto">
            <ion-icon name="at-outline" style="font-size:44px"></ion-icon>
          </div>
          <div class="col-10">
            <p class="mb-0">j.alexandre@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="single-card mb-2">
        <div class="row m-0">
          <div class="col-2 text-center p-0 m-auto">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
          <div class="col-10">
            <p class="mb-0">Https://instagram.com/username</p>
          </div>
        </div>
      </div>
      <div class="single-card mb-2">
        <div class="row m-0">
          <div class="col-2 text-center p-0 m-auto">
            <i class="fa fa-youtube" aria-hidden="true" style="font-size: 45px;"></i>
          </div>
          <div class="col-10">
            <p class="mb-0">Https://www.youtube.com/username</p>
          </div>
        </div>
      </div>
      <div class="single-card mb-2">
        <div class="row m-0">
          <div class="col-2 text-center p-0 m-auto">
           <img src="assets/images/globe.png" style="height: 37px;">
          </div>
          <div class="col-10">
            <p class="mb-0">Https://www.thebestyou.co</p>
          </div>
        </div>
      </div>
      <div class="single-card mb-2">
        <div class="row m-0">
          <div class="col-2 text-center p-0 m-auto">
            <i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 44px;"></i>
          </div>
          <div class="col-10">
            <p class="mb-0">Https://facebook.com/username</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>