
ion-tab-button{
    color:#D2D2D6;
    svg{
        height: 31px;
    width: 34px;
    }
    ion-icon{
        font-size: 42px;
    }
}
ion-tab-bar{
    padding: 4px 0;
}
.tab-selected{
    ion-icon{
        color:var(--form-title-color) !important;
    }
    path{
       fill:var(--form-title-color) !important;
    }
}